# Ignore Visual Studio temporary files, build results, and
# user-specific files
.vscode/
.vs/
*.user
*.suo

# ASP.NET Core
Forum.API/bin/
Forum.API/obj/
Forum.API/out/
Forum.API/publish/

# Environment and secrets
Forum.API/appsettings.Development.json
Forum.API/secrets.json
Forum.API/Properties/launchSettings.json
